.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  padding: 0px 40px;
}

.navbar > h1 {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

nav > a {
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
  height: 600px;
  gap: 50px;
}
article {
  margin-top: 30px;
  padding: 20px;
  width: 500px;
  background-color: aqua;
}

article > img {
  height: 50%;
  width: 100%;
  background-color: bisque;
  overflow: hidden;
}

.more {
  display: none;
}
article:has(.read-more:focus) .more {
  display: inline;
}

.read-more {
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
