.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.contactform {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.field {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
