header {
  height: 20px;
}
.navbar {
  position: sticky;
  top: 0px;
  background-color: black;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.nav-links a {
  color: white;
}

.nav-links a:hover {
  color: darkolivegreen;
}

section {
  scroll-margin-top: 20px;
  margin: 5px;
  border: 2px solid white;
}

#home {
  width: '100%';
  height: 500px;
  background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/06/Nature-Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  width: '100%';
  height: 500px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
  background-color: yellowgreen;
  width: '100%';
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  background-color: antiquewhite;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 10 10 gray;
  width: 40%;
}

.card :hover {
  background-color: grey;
}

.card .content {
  padding: 10px;
}

#contact {
  background-color: grey;
  width: '100%';
  height: 500px;
}

.contacts {
  padding: 30px;
  display: flex;
  gap: 10px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
